@import 'settings';
$color_white: #fff;

*{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	line-height: 24px;
}
.section{
	.container{
		max-width: 1250px;
	}
}
.status_sendmail{
    margin-bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -35px;
    color: #ffffff;
}
a{
	outline: none;
}
img{
	max-width: 100%;
}
.wow {
	visibility: visible !important;
}
.btn-buynow{
	color: #fff !important;
    background-image: url(../images/bg-button.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 30px !important;
    outline: none;
}
header{
	background-color: rgba(255, 255, 255, 0.58);
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999999;
	@include mq(tab_sp){
		background-color: rgba(255, 255, 255, 0.8);
	}
	&.fixed{
		transition: 0.3s;
		background-color: rgba(255, 255, 255, 1);
		border-bottom:1px solid #f0f0f0;
	}
	.container{
		padding:0px;
		nav{
			.navbar-brand{
				img{
					@include mq(tab_sp){
						width:120px;
					}
				}
			}
			.navbar-collapse{
				padding-left:80px;
				@include mq(tab_sp){
					padding-left:0px;
				}
				.navbar-nav{
					.nav-item{
						display: flex;
						align-items:center;
						&:first-child{
							@include mq(tab_sp){
								padding-top:15px;
							}
						}
						@include mq(tab_sp){
							padding:5px 0px;
						}
						&.search_box{
							padding:0 40px;
							@include mq(tab_sp){
								display: none;
							}
							img{
								width: 18px;
							}
						}
						&.national{
							@include mq(tab_sp){
								padding-bottom:20px;
							}
							img{
								margin-top: -2px;
								padding-right: 5px;
							}
						}
						a{
							color: #333333;
							&:hover{
								color: red;
							}
						}
					}
				}
			}
		}
		
	}
}
a{
	&.btn-custom{
		background-image:url('../images/bg-button.png');
		color: $color_white;
		background-image: url(../images/bg-button.png);
		color: #fff;
		background-size: contain;
		background-position: left;
		background-repeat: no-repeat;
		padding: 15px 40px;
		float: left;
		text-align: center;
		margin-top: 50px;
		@include mq(tab_sp){
			margin-top: 0px;
			margin-bottom:30px;
		}
	}  

}
.wrap-content{
	.section-header_slider{
		height: 100vh;
		overflow: hidden;
		@include mq(tab){
			height: 60vh;
		}
		.slick-dots{
			position: absolute;
		    transform: translate(50%, 50%);
		    bottom: 130px;
		    left: 0;
		    right: 0;
		    display: flex;
		    list-style: none;
		    padding-left:0px;
		    li{
		    	position: relative;
			    display: inline-block;
			    width: 10px;
			    height: 10px;
			    margin: 0 5px;
			    padding: 0;
			    border:1px solid #ffff;
			    cursor: pointer;
			    border-radius: 50%;
			    &.slick-active{
			    	background-color:#fff;
			    }
		    	button{
		    		font-size: 0;
				    line-height: 0;
				    display: block;
				    width: 20px;
				    height: 20px;
				    padding: 5px;
				    cursor: pointer;
				    color: transparent;
				    border: 0;
				    outline: none;
				    background: transparent;
		    	}
		    }
		}
		.slider-item{
			position: relative;
			height: 100vh;
			background-size:cover;
			background-position:center bottom;
			background-repeat:no-repeat;
			display: flex;
			@include mq(tab){
				height: 60vh;
			}
			.left{
				width: 50%;
				@include mq(sp){
					display: none;
				}
			}
			.right{
				width: 50%;
				display: flex;
				align-items:center;
				@include mq(tab){
					align-items: center;
					padding-top:150px;
				}
				@include mq(sp){
					width: 100%;
					align-items: flex-end;
				}
				.wrap-desc{
					max-width: 600px;
					padding-top:80px;
					padding-left:30px;
					@include mq(tab_sp){
						padding:10px;
					}
					h2{
						font-size: 45px;
						color: $color_white;
						font-weight: bold;
						@include mq(tab_sp){
							font-size: 30px;
						}
					}
					p{
						color: $color_white;
						font-size: 15px;
					}
				}
			}
		}
	}
	.section-intro{
		padding-bottom:60px;
		.wrap-intro{
			display: flex;
			flex-flow: wrap;
			.left{
				width: 50%;
				@include mq(tab_sp){
					width: 100%;
					text-align: center;
				}
				img{
					width: 600px;
					float: right;
					padding:15px 30px;
					@include mq(tab){
						float: unset;
					}
				}
			}
			.right{
				width:50%;
				display: flex;
				align-items:center;
				@include mq(tab_sp){
					width: 100%;
				}
				.wrap-right{
					h2{
						font-weight: 700;
						&:after{
							content: "";
							background-image: url(../images/line-green.jpg);
							display: block;
							height: 6px;
							background-size: contain;
							width: 100px;
							background-repeat: no-repeat;
							margin-top: 10px;
						}
					}
					.text_100_percent{
						border-bottom: 1px dashed #808080;
						padding-bottom:15px;
						display: inline-block;
					}
				}
				ul{
					list-style: none;
					li{
						position:relative;
						&:after{
							content: "";
							width: 20px;
							height: 10px;
							background-image: url(../images/icon-checked.png);
							background-size: contain;
							background-repeat: no-repeat;
							display: block;
							position: absolute;
							left: -20px;
							top: 7px;
						}
					}
				}
			}
		}
		.big__text{
			font-size:110px;
			font-weight: 800;
			text-align: center;
			color: #45bf4e;
			opacity: 0.22;
			padding-top:20px;
			@include mq(tab){
				margin-top: 30px;
				font-size: 55px;
			}		
			@include mq(sp){
				font-size: 30px;
			}		
		}
	}
	.section-components{
		padding:20px;
		background-image:url(../images/bg-components.jpg);
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
		@include mq(tab_sp){
			padding:0px;
		}
		.container{
			max-width: 1530px;
		}
		h2{
			text-align: center;
			color: $color_white;
			padding:20px 0px;
			position:relative;
			&:after{
				content: "";
				background-image: url(../images/img-line-white.png);
				display: block;
				height: 3px;
				width: 100%;
				background-repeat: no-repeat;
				background-position: center;
				position: absolute;
				bottom: 0;
			}
		}
		ul{
			list-style: none;
			display: flex;
			flex-flow: wrap;
			padding-left:0px;
			@include mq(tab_sp){
				margin-top: 50px;
			}
			li{
			    width: calc(100% / 2 );
			    display: flex;
			    align-items: center;
			    padding: 0px 120px;
			    margin-bottom: 50px;
			    position:relative;
			    @include mq(tab_sp){
			    	width: 100%;
			    	padding:0px;
			    }
				.img{
					width: 150px;
					height: 150px;
					position:absolute;
					img{
						width: 150px;
						height: 150px;
					}
				}
				&:nth-child(odd){
					flex-direction: row-reverse;
					.desc{
					    background-position: left;
					    background-image: url(../images/bg-gray-left.png);
					    padding-right: 50px;
					    margin-right: 35px;
						> div{
							padding-right:70px;
						}
						h4{
							text-align: right;
						}
						p{
							text-align: right;
							@include mq(tab_sp){
								font-size: 12px;
								line-height: 18px;
							}
						}
					}
				}
				&:nth-child(even){
					.desc{
					    padding-left: 135px;
    					margin-left: 20px;
					}
					.img{
						margin-right: -100px;
						z-index: 999;
						img{
							width: 250px;
						}
					}
				}
				.desc{
					background-image: url(../images/bg-gray.png);
					background-size: cover;
					background-repeat: no-repeat;
					padding: 8px 40px;
					display: flex;
					align-items:center;
					flex-flow: wrap;
					background-position: right;
					height: 120px;
					h4{
						font-weight: 600;
						@include mq(tab_sp){
							font-size: 15px;
						}
					}
					p{
						margin-bottom: 0px;
						line-height: 22px;
						@include mq(tab_sp){
							font-size: 12px;
							line-height: 17px;
						}
					}
				}

			}
		}
	}
	.section-about_us{
		padding:30px 0;
		text-align: center;
		h2{
			text-align: center;
			display: inline-block;
			@include mq(tab_sp){
				font-size: 22px;
			}
			&:after{
				content: "";
				background-image: url(../images/line-green.jpg);
				display: block;
				height: 6px;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				margin-top: 10px;
				text-align: center;
			}
		}
		.slider_about_us{
			margin-top: 15px;
			.slick-arrow{
				position:absolute;
			    transform: translate(-50%, -50%);
			    top: 50%;
				background-image:url(../images/icon-prev.png);
			    width: 50px;
			    height: 50px;
			    background-size:cover;
			    border:0px;
			    outline: none;
			    font-size: 0;
			    z-index: 999;
			    background-color:transparent;
				&.slick-prev{
					position:absolute;
				    transform: translate(-50%, -50%);
				    left: -50px;
				    top: 50%;
				    @include mq(tab_sp){
				    	left: 30px;
				    }
				}
				&.slick-next{
					right: -70px;
				    outline: none;
				    transform: rotate(-180deg);
				    -moz-transform: rotate(-180deg);
				    -webkit-transform: rotate(-180deg);
				    -o-transform: rotate(-180deg);
				    margin-top: -25px;
				    @include mq(tab_sp){
				    	right: 0px;
				    }
				}
			}
			.about_us_item{
				outline: none;
				cursor: pointer;
				.img{
					height: 350px;
					position:relative;
					background-size: cover;
					padding:10px;
					border-radius:20px;
					margin: 10px;
					display: flex;
					align-items: center;
					justify-content: center;
					transition: 2s;
					@include mq(tab_sp){
						height: 200px;
					}
					img{
						display: none;
					}
					&:hover{
						img{
							display: block;
							z-index: 99;
						}
						&:after{
							content: "";
							background-color:rgba(0, 0, 0, 0.5);
							width: 100%;
							height: 100%;
							position:absolute;
							border-radius:20px;
						}
					}
					&:first-child{
						margin-bottom: 30px;
					}
				}
			}
		}
	}
	.section-client{
		padding-bottom:40px;
		.client_item{
			text-align: center;
			border:1px solid #f0f0f0;
			height: 80px;
			margin: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			outline: none;
			img{
				display: inline-block;
			}
		}
	}
	.section-blog{
		padding: 20px;
		background-image: url(../images/bg-blog.jpg);
		background-size: cover;
		background-position: top left;
		background-repeat: no-repeat;
		h2{
			text-align: center;
			color: #000;
			padding:20px 0px;
			position:relative;
			&:after{
				content: "";
				background-image: url(../images/img-line-white.png);
				display: block;
				height: 3px;
				width: 100%;
				background-repeat: no-repeat;
				background-position: center;
				position: absolute;
				bottom: 0;
			}
		}
		.blog{
			display: flex;
			flex-flow: wrap;
			padding-top:15px;
			padding-bottom:50px;
			.blog-item{
				width: calc(100% / 2 - 20px);
				display: flex;
				position:relative;
				background-color:$color_white;
				padding:15px;
				margin:10px;
				border-radius: 5px;
				@include mq(tab_sp){
					width: 100%;
					padding:5px;
					margin: 10px 0px;
				}
				h3{
					font-size: 15px;
					font-weight: 600;
				}
				.desc{
					padding:0 15px;
					@include mq(tab_sp){
						width: calc(100% - 80px);
					}
					h3{
						a{
							display: block;
							text-align: left;
							padding-top: 0px;
							color: #000;
							line-height: 20px;
						}
					}
					a{
						padding-top:15px;
						text-align: right;
						color: #02be49;
						display: block;
						@include mq(sp){
							display: none;
						}
					}
				}
				.img{
					@include mq(tab_sp){
						width: 80px;
					}
					
				}
			}
		} 
	}
	.section-status{
		padding: 20px;
		background-size: cover;
		background-position: top left;
		background-repeat: no-repeat;
		h2{
			text-align: center;
			color: #000;
			padding:20px 0px;
			position:relative;
			font-weight: bold;
			&:after{
				content: "";
				background-image: url(../images/line-green.jpg);
				display: block;
				height: 3px;
				width: 100%;
				background-repeat: no-repeat;
				background-position: center;
				position: absolute;
				bottom: 0;
			}
		}
		.wrap-status{
			display: flex;
			flex-flow: wrap;
			.wrap-type{
				width: 50%;
				padding:30px;
				@include mq(tab_sp){
					width: 100%;
					padding:0px;
				}
				h3{
					text-align: right;
					color: #42c154;
					font-weight: 700;
					margin-bottom: 40px;
					@include mq(tab_sp){
						margin-top: 30px;
						text-align: center;
						margin-bottom: 20px;
					}
				}
				ul{
					padding-left:0px;
					list-style: none;
					position:relative;
					&:after{
					    content: "";
					    height: 100%;
					    width: 2px;
					    background-color: #cccccc;
					    display: block;
					    position: absolute;
					    right: -40px;
					    top: 0;
					    @include mq(tab_sp){
					    	display: none;
					    }
					}
					li{
						margin-bottom: 15px;
						font-size: 15px;
						a{
							color: #02be49;
							text-decoration: underline;
							font-weight: 600;
						}
					}
				}
			}
			.wrap-level{
				width: 50%;
				padding:30px 50px;
				@include mq(tab_sp){
					margin-top: 30px;
					width: 100%;
					padding:0px;
				}
				h3{
					text-align: left;
					color: #42c154;
					font-weight: 700;
					margin-bottom: 40px;
					@include mq(tab_sp){
						margin-bottom: 20px;
						text-align: center;
					}
				}
				ul{
				    padding-left: 0px;
				    list-style: none;
				    padding: 0px 20px;
					li{
						font-size: 15px;
						position:relative;
						counter-increment: inst;
						padding-left:60px;
						margin-bottom: 25px;
						&:before {
						    content: "0" counter(inst);
						    background-image: url(../images/bg_circle.jpg);
						    color: #fff;
						    font-weight: 500;
						    text-align: center;
						    left: 5px;
						    top: 5px;
						    font-size: 10px;
						    position: absolute;
						    width: 30px;
						    height: 30px;
						    background-repeat: no-repeat;
						    background-size: contain;
						    z-index: 1;
						    padding-top:1px;
						}
						&:after{
						    content: "";
						    border-left: 2px solid #cccccc;
						    position: absolute;
						    left: 19px;
						    top: 30px;
						    z-index: -1;
						    height: 100%;
						}
						&:last-child{
							&:after{
								content: "";
								border-left: 0px;
							}
						}
						a{
							color: #02be49;
						}
					}
				}
			}
		}
	}
	.section-contact{
		padding:40px 0px;
		.wrap-contact{
			display: flex;
			@include mq(sp){
				flex-flow: wrap;
			}
			.left{
				width: 60%;
				@include mq(sp){
					width: 100%;
				}
				img{
					max-width: 750px;
					@include mq(tab_sp){
						max-width:100%;
						margin-top: 40px;
					}
				}
				.img_line_green{
					padding-left:30px;
					@include mq(tab_sp){
						display: none;
					}
				}
				.group-btn{
					text-align: center;
				    margin: 0 auto;
				    display: table;
					a{
					    background-image: url(../images/bg-button-footer.png);
					    background-size: contain;
					    background-repeat: no-repeat;
					    background-position: center;
					    color: #fff;
					    display: flex;
					    align-items: center;
					    justify-content: center;
					    font-size: 18px;
					    font-weight: 300;
					    width: 350px;
					    height: 55px;
					    outline: none;
					    strong{
					    	font-size: 30px;
					    	padding-left:15px;
					    	font-weight: 700;
					    }
					}
				}
			}
			.right{
				.form-submit{
					padding:60px;
					background-image:url(../images/bg_green-gradient.jpg);
					background-size:contain;
					background-position:center bottom;
					background-repeat:no-repeat;
					@include mq(tab_sp){
						margin-top: 40px;
						padding:20px;
						background-position:center;
					}
					.desc{
						color: $color_white;
						strong{
							text-align: center;
							font-size: 30px;
							display: block;
							margin-bottom: 20px;
						    font-weight: 600;
						}
						p{
							&.sub_text{
						        font-size: 30px;
							    font-weight: 300;
							    text-align: center;
							    margin-bottom: 0px;
							}
						}
						ul{
							padding:15px;
							list-style: none;
							padding-bottom:0px;
							li{
								font-size: 14px;
								&:before{
									content: "* ";
								}
							}
						}
					}
					form{
						padding:15px;
						position:relative;
					}
					input{
						margin-bottom: 20px;
						padding:10px;
						border-radius:3px;
						border:0px;
						color: #000;
						padding-left:15px;
					}
					button{
						text-align: center;
						&.btn-submit{
							border-radius:50px;
							padding:10px 50px;
							font-weight: bold;
							box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  							transition: all 0.3s ease 0s;
  							&:hover{
  								opacity: 0.8;
  							}
						}
					}
				}
			}
			.group-btn{
				a{
					display: block;
				}
			}
		}
		
	}
	.section-googlemaps{
		#map{
			width: 100%;
			img{
				width: 100%;
			}
		}
	}
}

footer{
	background-color:#3e3e3e;
	padding:50px 0px;
	padding-bottom:0px;
	color: #fff;
	.footer_top{
		display: flex;
		border-bottom:1px solid #787878;
		@include mq(tab_sp){
			flex-flow: wrap;
		}
		.column{
			width: calc(100% / 4 - 30px);
			margin-right:30px;
			@include mq(tab_sp){
				width: 100%;
			}
			&:nth-child(2){
				width: 35%;
				padding-left:40px;
				@include mq(tab_sp){
					width: 100%;
					padding-left:0px;
				}
				ul{
					display: flex;
					flex-flow: wrap;
					margin-left: 15px;
					li{
						width: calc(100% / 2);
						list-style: square;
					}
				}
			}
			&:nth-child(3){
				ul{
					li{
						border-bottom: 1px dashed #f0f0f0;
					}
				}
			}
			&:nth-child(4){
				text-align: center;
				margin-right: 0px;
				@include mq(tab_sp){
					text-align: left;
				}
				h3{
					&:after{
						height: 0px;
					}
				}
				.social-icon{
					margin-top: 30px;
					a{
						padding:3px;
					}
				}
				.group-btn{
					text-align: center;
				    margin: 0 auto;
				    display: table;
				    margin-top: 10px;
				    @include mq(tab_sp){
						text-align: left;
						display: inline-block;
						margin-bottom: 30px;
					}
				    p{
				    	margin: 0px;
				    }
					a{
				        background-image: url(../images/bg-button-footer.png);
					    background-size: contain;
					    background-repeat: no-repeat;
					    background-position: center;
					    color: #fff;
					    display: flex;
					    align-items: center;
					    justify-content: center;
					    font-size: 14px;
					    font-weight: 300;
					    width: 100%;
					    height: 40px;
					    outline: none;
					    padding: 10px 18px;
					    text-decoration: none;
					    strong{
					    	font-size: 20px;
					    	padding-left:5px;
					    	font-weight: 700;
					    }
					}
				}
			}
			p{
				&.site-title{
					font-size: 23px;
					color: #b7a774;
					margin-top: 20px;
					font-weight: 600;
				}
			}
			h3{
				font-size: 18px;
				font-weight: 600;
				position:relative;
				&:after{
					content: "";
					height: 2px;
					width: 50px;
					margin-top:10px;
					margin-bottom: 15px;
					background-color:#fff;
					display: block;
				}
			}
			ul{
				list-style: none;
				padding-left:0px;
				li{
					padding:10px 0px;
					i{
						padding-right:15px;
						width: 20px;
					}
					a{
						color: $color_white;
						text-decoration:none;
						&:hover{
							color: #02be49;
						}
					}
				}
			}

		}
	}
	.footer_newsletter{
		padding:15px 0;
		padding-bottom:30px;
		.input-group{
			max-width: 400px;
			border-radius: 5px;
			input{
				border:0px;
			}
			.input-group-prepend{
				background-color:#333;
			}
			button{
				background: #3e3e3e;
			    color: #ffffff;
			    border-top-right-radius: 5px;
			    border-bottom-right-radius: 5px;
			    padding: 7px 20px;
			}
		}
	}
	.footer_copyright{
		padding:20px;
		background-color:#333333;
		color: #999999;
	}
}