/*Animate */
/*Vertical text */
* {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px; }

.section .container {
  max-width: 1250px; }

.status_sendmail {
  margin-bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -35px; }

a {
  outline: none; }

img {
  max-width: 100%; }

header {
  background-color: rgba(255, 255, 255, 0.58);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999; }
  @media only screen and (max-width: 1024px) {
    header {
      background-color: rgba(255, 255, 255, 0.8); } }
  header .container {
    padding: 0px; }
    @media only screen and (max-width: 1024px) {
      header .container nav .navbar-brand img {
        width: 120px; } }
    header .container nav .navbar-collapse {
      padding-left: 80px; }
      @media only screen and (max-width: 1024px) {
        header .container nav .navbar-collapse {
          padding-left: 0px; } }
      header .container nav .navbar-collapse .navbar-nav .nav-item {
        display: flex;
        align-items: center; }
        @media only screen and (max-width: 1024px) {
          header .container nav .navbar-collapse .navbar-nav .nav-item:first-child {
            padding-top: 15px; } }
        @media only screen and (max-width: 1024px) {
          header .container nav .navbar-collapse .navbar-nav .nav-item {
            padding: 5px 0px; } }
        header .container nav .navbar-collapse .navbar-nav .nav-item.search_box {
          padding: 0 40px; }
          @media only screen and (max-width: 1024px) {
            header .container nav .navbar-collapse .navbar-nav .nav-item.search_box {
              display: none; } }
          header .container nav .navbar-collapse .navbar-nav .nav-item.search_box img {
            width: 18px; }
        @media only screen and (max-width: 1024px) {
          header .container nav .navbar-collapse .navbar-nav .nav-item.national {
            padding-bottom: 20px; } }
        header .container nav .navbar-collapse .navbar-nav .nav-item.national img {
          margin-top: -2px;
          padding-right: 5px; }
        header .container nav .navbar-collapse .navbar-nav .nav-item a {
          color: #333333; }
          header .container nav .navbar-collapse .navbar-nav .nav-item a:hover {
            color: red; }

a.btn-custom {
  background-image: url("../images/bg-button.png");
  color: #fff;
  background-image: url(../images/bg-button.png);
  color: #fff;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  padding: 15px 40px;
  float: left;
  text-align: center;
  margin-top: 50px; }
  @media only screen and (max-width: 1024px) {
    a.btn-custom {
      margin-top: 0px;
      margin-bottom: 30px; } }

.wrap-content .section-header_slider {
  height: 100vh;
  overflow: hidden; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .wrap-content .section-header_slider {
      height: 60vh; } }
  .wrap-content .section-header_slider .slick-dots {
    position: absolute;
    transform: translate(50%, 50%);
    bottom: 130px;
    left: 0;
    right: 0;
    display: flex;
    list-style: none;
    padding-left: 0px; }
    .wrap-content .section-header_slider .slick-dots li {
      position: relative;
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 5px;
      padding: 0;
      border: 1px solid #ffff;
      cursor: pointer;
      border-radius: 50%; }
      .wrap-content .section-header_slider .slick-dots li.slick-active {
        background-color: #fff; }
      .wrap-content .section-header_slider .slick-dots li button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 20px;
        height: 20px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent; }
  .wrap-content .section-header_slider .slider-item {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    display: flex; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .wrap-content .section-header_slider .slider-item {
        height: 60vh; } }
    .wrap-content .section-header_slider .slider-item .left {
      width: 50%; }
      @media only screen and (max-width: 767px) {
        .wrap-content .section-header_slider .slider-item .left {
          display: none; } }
    .wrap-content .section-header_slider .slider-item .right {
      width: 50%;
      display: flex;
      align-items: center; }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .wrap-content .section-header_slider .slider-item .right {
          align-items: center;
          padding-top: 150px; } }
      @media only screen and (max-width: 767px) {
        .wrap-content .section-header_slider .slider-item .right {
          width: 100%;
          align-items: flex-end; } }
      .wrap-content .section-header_slider .slider-item .right .wrap-desc {
        max-width: 600px;
        padding-top: 80px;
        padding-left: 30px; }
        @media only screen and (max-width: 1024px) {
          .wrap-content .section-header_slider .slider-item .right .wrap-desc {
            padding: 10px; } }
        .wrap-content .section-header_slider .slider-item .right .wrap-desc h2 {
          font-size: 45px;
          color: #fff;
          font-weight: bold; }
          @media only screen and (max-width: 1024px) {
            .wrap-content .section-header_slider .slider-item .right .wrap-desc h2 {
              font-size: 30px; } }
        .wrap-content .section-header_slider .slider-item .right .wrap-desc p {
          color: #fff;
          font-size: 15px; }
.wrap-content .section-intro {
  padding-bottom: 60px; }
  .wrap-content .section-intro .wrap-intro {
    display: flex;
    flex-flow: wrap; }
    .wrap-content .section-intro .wrap-intro .left {
      width: 50%; }
      @media only screen and (max-width: 1024px) {
        .wrap-content .section-intro .wrap-intro .left {
          width: 100%;
          text-align: center; } }
      .wrap-content .section-intro .wrap-intro .left img {
        width: 600px;
        float: right;
        padding: 15px 30px; }
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          .wrap-content .section-intro .wrap-intro .left img {
            float: unset; } }
    .wrap-content .section-intro .wrap-intro .right {
      width: 50%;
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 1024px) {
        .wrap-content .section-intro .wrap-intro .right {
          width: 100%; } }
      .wrap-content .section-intro .wrap-intro .right .wrap-right h2 {
        font-weight: 700; }
        .wrap-content .section-intro .wrap-intro .right .wrap-right h2:after {
          content: "";
          background-image: url(../images/line-green.jpg);
          display: block;
          height: 6px;
          background-size: contain;
          width: 100px;
          background-repeat: no-repeat;
          margin-top: 10px; }
      .wrap-content .section-intro .wrap-intro .right .wrap-right .text_100_percent {
        border-bottom: 1px dashed #808080;
        padding-bottom: 15px;
        display: inline-block; }
      .wrap-content .section-intro .wrap-intro .right ul {
        list-style: none; }
        .wrap-content .section-intro .wrap-intro .right ul li {
          position: relative; }
          .wrap-content .section-intro .wrap-intro .right ul li:after {
            content: "";
            width: 20px;
            height: 10px;
            background-image: url(../images/icon-checked.png);
            background-size: contain;
            background-repeat: no-repeat;
            display: block;
            position: absolute;
            left: -20px;
            top: 7px; }
  .wrap-content .section-intro .big__text {
    font-size: 110px;
    font-weight: 800;
    text-align: center;
    color: #45bf4e;
    opacity: 0.22;
    padding-top: 20px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .wrap-content .section-intro .big__text {
        margin-top: 30px;
        font-size: 55px; } }
    @media only screen and (max-width: 767px) {
      .wrap-content .section-intro .big__text {
        font-size: 30px; } }
.wrap-content .section-components {
  padding: 20px;
  background-image: url(../images/bg-components.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 1024px) {
    .wrap-content .section-components {
      padding: 0px; } }
  .wrap-content .section-components .container {
    max-width: 1530px; }
  .wrap-content .section-components h2 {
    text-align: center;
    color: #fff;
    padding: 20px 0px;
    position: relative; }
    .wrap-content .section-components h2:after {
      content: "";
      background-image: url(../images/img-line-white.png);
      display: block;
      height: 3px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      bottom: 0; }
  .wrap-content .section-components ul {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    padding-left: 0px; }
    @media only screen and (max-width: 1024px) {
      .wrap-content .section-components ul {
        margin-top: 50px; } }
    .wrap-content .section-components ul li {
      width: calc(100% / 2 );
      display: flex;
      align-items: center;
      padding: 0px 120px;
      margin-bottom: 50px;
      position: relative; }
      @media only screen and (max-width: 1024px) {
        .wrap-content .section-components ul li {
          width: 100%;
          padding: 0px; } }
      .wrap-content .section-components ul li .img {
        width: 150px;
        height: 150px;
        position: absolute; }
        .wrap-content .section-components ul li .img img {
          width: 150px;
          height: 150px; }
      .wrap-content .section-components ul li:nth-child(odd) {
        flex-direction: row-reverse; }
        .wrap-content .section-components ul li:nth-child(odd) .desc {
          background-position: left;
          background-image: url(../images/bg-gray-left.png);
          padding-right: 50px;
          margin-right: 35px; }
          .wrap-content .section-components ul li:nth-child(odd) .desc > div {
            padding-right: 70px; }
          .wrap-content .section-components ul li:nth-child(odd) .desc h4 {
            text-align: right; }
          .wrap-content .section-components ul li:nth-child(odd) .desc p {
            text-align: right; }
            @media only screen and (max-width: 1024px) {
              .wrap-content .section-components ul li:nth-child(odd) .desc p {
                font-size: 12px;
                line-height: 18px; } }
      .wrap-content .section-components ul li:nth-child(even) .desc {
        padding-left: 135px;
        margin-left: 20px; }
      .wrap-content .section-components ul li:nth-child(even) .img {
        margin-right: -100px;
        z-index: 999; }
        .wrap-content .section-components ul li:nth-child(even) .img img {
          width: 250px; }
      .wrap-content .section-components ul li .desc {
        background-image: url(../images/bg-gray.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 8px 40px;
        display: flex;
        align-items: center;
        flex-flow: wrap;
        background-position: right;
        height: 120px; }
        .wrap-content .section-components ul li .desc h4 {
          font-weight: 600; }
          @media only screen and (max-width: 1024px) {
            .wrap-content .section-components ul li .desc h4 {
              font-size: 15px; } }
        .wrap-content .section-components ul li .desc p {
          margin-bottom: 0px;
          line-height: 22px; }
          @media only screen and (max-width: 1024px) {
            .wrap-content .section-components ul li .desc p {
              font-size: 12px;
              line-height: 17px; } }
.wrap-content .section-about_us {
  padding: 30px 0;
  text-align: center; }
  .wrap-content .section-about_us h2 {
    text-align: center;
    display: inline-block; }
    @media only screen and (max-width: 1024px) {
      .wrap-content .section-about_us h2 {
        font-size: 22px; } }
    .wrap-content .section-about_us h2:after {
      content: "";
      background-image: url(../images/line-green.jpg);
      display: block;
      height: 6px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-top: 10px;
      text-align: center; }
  .wrap-content .section-about_us .slider_about_us {
    margin-top: 15px; }
    .wrap-content .section-about_us .slider_about_us .slick-arrow {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      background-image: url(../images/icon-prev.png);
      width: 50px;
      height: 50px;
      background-size: cover;
      border: 0px;
      outline: none;
      font-size: 0;
      z-index: 999;
      background-color: transparent; }
      .wrap-content .section-about_us .slider_about_us .slick-arrow.slick-prev {
        position: absolute;
        transform: translate(-50%, -50%);
        left: -50px;
        top: 50%; }
        @media only screen and (max-width: 1024px) {
          .wrap-content .section-about_us .slider_about_us .slick-arrow.slick-prev {
            left: 30px; } }
      .wrap-content .section-about_us .slider_about_us .slick-arrow.slick-next {
        right: -70px;
        outline: none;
        transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        margin-top: -25px; }
        @media only screen and (max-width: 1024px) {
          .wrap-content .section-about_us .slider_about_us .slick-arrow.slick-next {
            right: 0px; } }
    .wrap-content .section-about_us .slider_about_us .about_us_item {
      outline: none; }
      .wrap-content .section-about_us .slider_about_us .about_us_item .img {
        height: 350px;
        position: relative;
        background-size: cover;
        padding: 10px;
        border-radius: 20px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 2s; }
        @media only screen and (max-width: 1024px) {
          .wrap-content .section-about_us .slider_about_us .about_us_item .img {
            height: 200px; } }
        .wrap-content .section-about_us .slider_about_us .about_us_item .img img {
          display: none; }
        .wrap-content .section-about_us .slider_about_us .about_us_item .img:hover img {
          display: block;
          z-index: 99; }
        .wrap-content .section-about_us .slider_about_us .about_us_item .img:hover:after {
          content: "";
          background-color: rgba(0, 0, 0, 0.5);
          width: 100%;
          height: 100%;
          position: absolute;
          border-radius: 20px; }
        .wrap-content .section-about_us .slider_about_us .about_us_item .img:first-child {
          margin-bottom: 30px; }
.wrap-content .section-client {
  padding-bottom: 40px; }
  .wrap-content .section-client .client_item {
    text-align: center;
    border: 1px solid #f0f0f0;
    height: 80px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none; }
    .wrap-content .section-client .client_item img {
      display: inline-block; }
.wrap-content .section-blog {
  padding: 20px;
  background-image: url(../images/bg-blog.jpg);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat; }
  .wrap-content .section-blog h2 {
    text-align: center;
    color: #000;
    padding: 20px 0px;
    position: relative; }
    .wrap-content .section-blog h2:after {
      content: "";
      background-image: url(../images/img-line-white.png);
      display: block;
      height: 3px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      bottom: 0; }
  .wrap-content .section-blog .blog {
    display: flex;
    flex-flow: wrap;
    padding-top: 15px;
    padding-bottom: 50px; }
    .wrap-content .section-blog .blog .blog-item {
      width: calc(100% / 2 - 20px);
      display: flex;
      position: relative;
      background-color: #fff;
      padding: 15px;
      margin: 10px;
      border-radius: 5px; }
      @media only screen and (max-width: 1024px) {
        .wrap-content .section-blog .blog .blog-item {
          width: 100%;
          padding: 5px;
          margin: 10px 0px; } }
      .wrap-content .section-blog .blog .blog-item h3 {
        font-size: 15px;
        font-weight: 600; }
      .wrap-content .section-blog .blog .blog-item .desc {
        padding: 0 15px; }
        @media only screen and (max-width: 1024px) {
          .wrap-content .section-blog .blog .blog-item .desc {
            width: calc(100% - 80px); } }
        .wrap-content .section-blog .blog .blog-item .desc h3 a {
          display: block;
          text-align: left;
          padding-top: 0px;
          color: #000;
          line-height: 20px; }
        .wrap-content .section-blog .blog .blog-item .desc a {
          padding-top: 15px;
          text-align: right;
          color: #02be49;
          display: block; }
          @media only screen and (max-width: 767px) {
            .wrap-content .section-blog .blog .blog-item .desc a {
              display: none; } }
      @media only screen and (max-width: 1024px) {
        .wrap-content .section-blog .blog .blog-item .img {
          width: 80px; } }
.wrap-content .section-status {
  padding: 20px;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat; }
  .wrap-content .section-status h2 {
    text-align: center;
    color: #000;
    padding: 20px 0px;
    position: relative;
    font-weight: bold; }
    .wrap-content .section-status h2:after {
      content: "";
      background-image: url(../images/line-green.jpg);
      display: block;
      height: 3px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      bottom: 0; }
  .wrap-content .section-status .wrap-status {
    display: flex;
    flex-flow: wrap; }
    .wrap-content .section-status .wrap-status .wrap-type {
      width: 50%;
      padding: 30px; }
      @media only screen and (max-width: 1024px) {
        .wrap-content .section-status .wrap-status .wrap-type {
          width: 100%;
          padding: 0px; } }
      .wrap-content .section-status .wrap-status .wrap-type h3 {
        text-align: right;
        color: #42c154;
        font-weight: 700;
        margin-bottom: 40px; }
        @media only screen and (max-width: 1024px) {
          .wrap-content .section-status .wrap-status .wrap-type h3 {
            margin-top: 30px;
            text-align: center;
            margin-bottom: 20px; } }
      .wrap-content .section-status .wrap-status .wrap-type ul {
        padding-left: 0px;
        list-style: none;
        position: relative; }
        .wrap-content .section-status .wrap-status .wrap-type ul:after {
          content: "";
          height: 100%;
          width: 2px;
          background-color: #cccccc;
          display: block;
          position: absolute;
          right: -40px;
          top: 0; }
          @media only screen and (max-width: 1024px) {
            .wrap-content .section-status .wrap-status .wrap-type ul:after {
              display: none; } }
        .wrap-content .section-status .wrap-status .wrap-type ul li {
          margin-bottom: 15px;
          font-size: 15px; }
          .wrap-content .section-status .wrap-status .wrap-type ul li a {
            color: #02be49;
            text-decoration: underline;
            font-weight: 600; }
    .wrap-content .section-status .wrap-status .wrap-level {
      width: 50%;
      padding: 30px 50px; }
      @media only screen and (max-width: 1024px) {
        .wrap-content .section-status .wrap-status .wrap-level {
          margin-top: 30px;
          width: 100%;
          padding: 0px; } }
      .wrap-content .section-status .wrap-status .wrap-level h3 {
        text-align: left;
        color: #42c154;
        font-weight: 700;
        margin-bottom: 40px; }
        @media only screen and (max-width: 1024px) {
          .wrap-content .section-status .wrap-status .wrap-level h3 {
            margin-bottom: 20px;
            text-align: center; } }
      .wrap-content .section-status .wrap-status .wrap-level ul {
        padding-left: 0px;
        list-style: none;
        padding: 0px 20px; }
        .wrap-content .section-status .wrap-status .wrap-level ul li {
          font-size: 15px;
          position: relative;
          counter-increment: inst;
          padding-left: 60px;
          margin-bottom: 25px; }
          .wrap-content .section-status .wrap-status .wrap-level ul li:before {
            content: "0" counter(inst);
            background-image: url(../images/bg_circle.jpg);
            color: #fff;
            font-weight: 500;
            text-align: center;
            left: 5px;
            top: 5px;
            font-size: 10px;
            position: absolute;
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            background-size: contain;
            z-index: 1;
            padding-top: 1px; }
          .wrap-content .section-status .wrap-status .wrap-level ul li:after {
            content: "";
            border-left: 2px solid #cccccc;
            position: absolute;
            left: 19px;
            top: 30px;
            z-index: -1;
            height: 100%; }
          .wrap-content .section-status .wrap-status .wrap-level ul li:last-child:after {
            content: "";
            border-left: 0px; }
          .wrap-content .section-status .wrap-status .wrap-level ul li a {
            color: #02be49; }
.wrap-content .section-contact {
  padding: 40px 0px; }
  .wrap-content .section-contact .wrap-contact {
    display: flex; }
    @media only screen and (max-width: 767px) {
      .wrap-content .section-contact .wrap-contact {
        flex-flow: wrap; } }
    .wrap-content .section-contact .wrap-contact .left {
      width: 60%; }
      @media only screen and (max-width: 767px) {
        .wrap-content .section-contact .wrap-contact .left {
          width: 100%; } }
      .wrap-content .section-contact .wrap-contact .left img {
        max-width: 750px; }
        @media only screen and (max-width: 1024px) {
          .wrap-content .section-contact .wrap-contact .left img {
            max-width: 100%;
            margin-top: 40px; } }
      .wrap-content .section-contact .wrap-contact .left .img_line_green {
        padding-left: 30px; }
        @media only screen and (max-width: 1024px) {
          .wrap-content .section-contact .wrap-contact .left .img_line_green {
            display: none; } }
      .wrap-content .section-contact .wrap-contact .left .group-btn {
        text-align: center;
        margin: 0 auto;
        display: table; }
        .wrap-content .section-contact .wrap-contact .left .group-btn a {
          background-image: url(../images/bg-button-footer.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18px;
          font-weight: 300;
          width: 350px;
          height: 55px;
          outline: none; }
          .wrap-content .section-contact .wrap-contact .left .group-btn a strong {
            font-size: 30px;
            padding-left: 15px;
            font-weight: 700; }
    .wrap-content .section-contact .wrap-contact .right .form-submit {
      padding: 60px;
      background-image: url(../images/bg_green-gradient.jpg);
      background-size: contain;
      background-position: center bottom;
      background-repeat: no-repeat; }
      @media only screen and (max-width: 1024px) {
        .wrap-content .section-contact .wrap-contact .right .form-submit {
          margin-top: 40px;
          padding: 20px;
          background-position: center; } }
      .wrap-content .section-contact .wrap-contact .right .form-submit .desc {
        color: #fff; }
        .wrap-content .section-contact .wrap-contact .right .form-submit .desc strong {
          text-align: center;
          font-size: 30px;
          display: block;
          margin-bottom: 20px;
          font-weight: 600; }
        .wrap-content .section-contact .wrap-contact .right .form-submit .desc p.sub_text {
          font-size: 30px;
          font-weight: 300;
          text-align: center;
          margin-bottom: 0px; }
        .wrap-content .section-contact .wrap-contact .right .form-submit .desc ul {
          padding: 15px;
          list-style: none;
          padding-bottom: 0px; }
          .wrap-content .section-contact .wrap-contact .right .form-submit .desc ul li {
            font-size: 14px; }
            .wrap-content .section-contact .wrap-contact .right .form-submit .desc ul li:before {
              content: "* "; }
      .wrap-content .section-contact .wrap-contact .right .form-submit form {
        padding: 15px;
        position: relative; }
      .wrap-content .section-contact .wrap-contact .right .form-submit input {
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 3px;
        border: 0px;
        color: #000;
        padding-left: 15px; }
      .wrap-content .section-contact .wrap-contact .right .form-submit button {
        text-align: center; }
        .wrap-content .section-contact .wrap-contact .right .form-submit button.btn-submit {
          border-radius: 50px;
          padding: 10px 50px;
          font-weight: bold;
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          transition: all 0.3s ease 0s; }
          .wrap-content .section-contact .wrap-contact .right .form-submit button.btn-submit:hover {
            opacity: 0.8; }
    .wrap-content .section-contact .wrap-contact .group-btn a {
      display: block; }
.wrap-content .section-googlemaps #map {
  width: 100%; }
  .wrap-content .section-googlemaps #map img {
    width: 100%; }

footer {
  background-color: #3e3e3e;
  padding: 50px 0px;
  padding-bottom: 0px;
  color: #fff; }
  footer .footer_top {
    display: flex;
    border-bottom: 1px solid #787878; }
    @media only screen and (max-width: 1024px) {
      footer .footer_top {
        flex-flow: wrap; } }
    footer .footer_top .column {
      width: calc(100% / 4 - 30px);
      margin-right: 30px; }
      @media only screen and (max-width: 1024px) {
        footer .footer_top .column {
          width: 100%; } }
      footer .footer_top .column:nth-child(2) {
        width: 35%;
        padding-left: 40px; }
        @media only screen and (max-width: 1024px) {
          footer .footer_top .column:nth-child(2) {
            width: 100%;
            padding-left: 0px; } }
        footer .footer_top .column:nth-child(2) ul {
          display: flex;
          flex-flow: wrap;
          margin-left: 15px; }
          footer .footer_top .column:nth-child(2) ul li {
            width: calc(100% / 2);
            list-style: square; }
      footer .footer_top .column:nth-child(3) ul li {
        border-bottom: 1px dashed #f0f0f0; }
      footer .footer_top .column:nth-child(4) {
        text-align: center;
        margin-right: 0px; }
        @media only screen and (max-width: 1024px) {
          footer .footer_top .column:nth-child(4) {
            text-align: left; } }
        footer .footer_top .column:nth-child(4) h3:after {
          height: 0px; }
        footer .footer_top .column:nth-child(4) .social-icon {
          margin-top: 30px; }
          footer .footer_top .column:nth-child(4) .social-icon a {
            padding: 3px; }
        footer .footer_top .column:nth-child(4) .group-btn {
          text-align: center;
          margin: 0 auto;
          display: table;
          margin-top: 10px; }
          @media only screen and (max-width: 1024px) {
            footer .footer_top .column:nth-child(4) .group-btn {
              text-align: left;
              display: inline-block;
              margin-bottom: 30px; } }
          footer .footer_top .column:nth-child(4) .group-btn p {
            margin: 0px; }
          footer .footer_top .column:nth-child(4) .group-btn a {
            background-image: url(../images/bg-button-footer.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 300;
            width: 100%;
            height: 40px;
            outline: none;
            padding: 10px 18px;
            text-decoration: none; }
            footer .footer_top .column:nth-child(4) .group-btn a strong {
              font-size: 20px;
              padding-left: 5px;
              font-weight: 700; }
      footer .footer_top .column p.site-title {
        font-size: 23px;
        color: #b7a774;
        margin-top: 20px;
        font-weight: 600; }
      footer .footer_top .column h3 {
        font-size: 18px;
        font-weight: 600;
        position: relative; }
        footer .footer_top .column h3:after {
          content: "";
          height: 2px;
          width: 50px;
          margin-top: 10px;
          margin-bottom: 15px;
          background-color: #fff;
          display: block; }
      footer .footer_top .column ul {
        list-style: none;
        padding-left: 0px; }
        footer .footer_top .column ul li {
          padding: 10px 0px; }
          footer .footer_top .column ul li i {
            padding-right: 15px;
            width: 20px; }
          footer .footer_top .column ul li a {
            color: #fff;
            text-decoration: none; }
            footer .footer_top .column ul li a:hover {
              color: #02be49; }
  footer .footer_newsletter {
    padding: 15px 0;
    padding-bottom: 30px; }
    footer .footer_newsletter .input-group {
      max-width: 400px;
      border-radius: 5px; }
      footer .footer_newsletter .input-group input {
        border: 0px; }
      footer .footer_newsletter .input-group .input-group-prepend {
        background-color: #333; }
      footer .footer_newsletter .input-group button {
        background: #3e3e3e;
        color: #ffffff;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 7px 20px; }
  footer .footer_copyright {
    padding: 20px;
    background-color: #333333;
    color: #999999; }

/*# sourceMappingURL=style.css.map */
